@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* --------------- Table of content -----------
1. General styles
2. Container
3. Header/ Search form / Mobile toggle
4. Main and its content
5. Footer
6. Added home page with JS
7. Spinner
8. Media query


/* --------------- Custom properties ------------- */
:root {
    --font-stack: 'Nunito', sans-serif;
    --blue-button: rgb(28, 28, 219);
    --blue-button-hover: rgb(97, 97, 236);
    --grey-input: rgb(188, 188, 189);
    --grey-input-focus: rgb(219, 218, 218);
    --blue-title: rgb(26, 26, 224);
}

/* ----------------------------------- 1. GENERAL STYLES --------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
    font-family: var(--font-stack);
    font-size: 10px;
}

a {
    text-decoration: none;
    color: black;
}

/* ------------------------------------- 2. CONTAINER ------------------------------------ */
#main-container {
    min-height: 100vh;
    overflow: hidden;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
    position: relative;
    padding-bottom: 10px;
}

/* ----------------------------------- 3. HEADER/ SEARCH FORM -------------------------------- */
header {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
            -ms-grid-row-align: center;
            align-items: center;
    width: 100%;
    padding: 2em 2em;
    background: white;
    box-shadow: 0px 2.5px 5px rgba(0,0,0,0.15);
    max-width: 1440px;
    margin: 0 auto;
}

header h1 {
    font-size: 3em;
    letter-spacing: .1em;
    text-align: center;
}

header.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* ------------------ SEARCH FORM ----------------- */
#search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
    width: 80%;
}

#search-form form {
    font-size: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}

#search-form form label {
    font-size: 1.2em;
    letter-spacing: .1em;
}

#user-input {
    padding: .5em 1em;
    font-family: var(--font-stack);
    font-size: 1em;
    background: var(--grey-input);
    border-radius: 20px;
    border: none;
    margin: 2em 0;
}

#user-input:focus {
    background: var(--grey-input-focus);
}

.blue-button {
    padding: .7em 1.5em;
    font-family: var(--font-stack);
    background: var(--blue-button);
    color: white;
    border-radius: 20px;
    border: none;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: bold;
}

.blue-button:hover, .blue-button:focus {
    background: var(--blue-button-hover);
}

#geo-div {
    margin: 3em 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}

#geo-div span{
    font-size: 2em;
    letter-spacing: .1em;
    margin: 0 0 1.5em 0;
}

/* ------------------- MOBILE TOGGLE ----------------- */
#mobile-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 2em 0;
}

#mobile-toggle > span {
    color: var(--blue-title);
    font-size: 2em;
    margin: 0 1em 0 0;
}

#arrow {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-transform-origin: 25%;
            transform-origin: 25%;
}

#mobile-toggle.rotate #arrow{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.arrow-bar {
    position: absolute;
    top: 25%;
    width: 3px;
    height: 15px;
    background: var(--blue-title);
}

.arrow-bar:first-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 0;
}

.arrow-bar:last-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 30%;
}

/* ---------------------------------- 4. MAIN AND ITS CONTENT ---------------------------- */ 
.main-content {
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr);
        grid-template-columns: minmax(0, 1fr);
    -ms-grid-rows: 40vh 48vh;
        grid-template-rows: 40vh 48vh;
}

#my-data {
    width: auto;
    height: 81vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 2em;
    padding-top: 2em;
}

#my-data div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
}

#my-data span {
    font-size: 1.4em;
    padding-bottom: .5em;
    padding-top: .5em;
}

#my-data span:first-child {
    font-weight: bold;
    color: var(--blue-title);
    font-size: 1.6em;
}

#map {
    height: 81vh;
    width: auto;
    overflow-y: auto;
    overflow-x: auto;
}

/* ------------------------------------ 5. FOOTER -------------------------------------- */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    padding: .5em 0;
}

/* ------------------------------------ 6. Added home page in JS ----------------------------------- */
.home-page-right {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(./images/food-pattern.svg) center no-repeat;
    background-size: cover;
}

.home-page-form {
    position: absolute;
    top: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    background: white; 
}

.home-page-footer {
    position: absolute;
    bottom: 0;
    background: white;
}

.hide {
    display: none;
}

#mobile-toggle.hide {
    display: none;
}

/* ----------------------------------- 7. SPINNER --------------------------------------- */

.spinner-wrapper {
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
            -ms-grid-row-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    opacity: 1;
    z-index: 3;
    -webkit-animation: 1.5s ease-out 3s forwards removeSpinner;
            animation: 1.5s ease-out 3s forwards removeSpinner;
}

.spinner {
    width: 70px;
    height: 70px;
    border: 5px solid white;
    border-top: 5px solid var(--blue-button);
    border-bottom: 5px solid var(--blue-button);
    border-radius: 50%;
    -webkit-animation: 1s linear spinner;
            animation: 1s linear spinner;
    -webkit-animation-iteration-count: 3;
            animation-iteration-count: 3;
}

@-webkit-keyframes removeSpinner {
    0% {
        display: -webkit-box;
        display: flex;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    100% {
        display: none;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes removeSpinner {
    0% {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    100% {
        display: none;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

/* ----------------------------------- 8. MEDIA QUERY ----------------------------------- */

@media screen and (min-width: 1100px) {
    /* --------------------- HEADER/ SEARCH FORM ------------------------ */
    #mobile-toggle {
        display: none;
    }

    header {
        position: static;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
                flex-direction: row;
    }

    #search-form {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    }

    #search-form form {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    }

    #user-input {
        margin: 0 2em;
    }

    #geo-div {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
        margin: 0 0 0 3em;
    }

    #geo-div span {
        margin: 0 2em 0 0;
    }

    /* --------------------- MAIN CONTENT ------------------------ */
    .main-content {
        -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
        -ms-grid-rows: minmax(0, 1fr);
            grid-template-rows: minmax(0, 1fr);
    }

    /* ----------------------- JS HOME PAGE --------------------- */
    .home-page-form {
        top: 40%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    }
}